meta(charset='utf-8')

link(rel='stylesheet', href='{{site.baseurl}}/assets/css/icons.css')

meta(http-equiv='X-UA-Compatible', content='IE=Edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(content='object', property='og:type')

script.
    document.documentElement.className += ('ontouchstart' in document.documentElement) ? ' touch' : ' no-touch';
    var site = {
        baseurl: '{{site.baseurl}}',
        base_url: '{{site.base_url}}',
        url: '{{site.url}}'
    };
script(src='{{site.baseurl}}/assets/js/modernizr-custom.min.js')

link(rel='shortcut icon', type='image/png' href='{{site.baseurl | prepend:site.url}}/assets/icons/32.png')

link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/68.png')
link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/76.png', sizes='76x76')
link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/120.png', sizes='120x120')
link(rel='apple-touch-icon', type='image/x-icon', href='{{site.baseurl | prepend:site.url}}/assets/icons/152.png', sizes='152x152')

meta(content='summary', property='twitter:card')
meta(content='{{site.baseurl | prepend:site.url}}/assets/icons/128.png', property='twitter:image')
meta(content='{{site.baseurl | prepend:site.url}}', property='twitter:domain')
meta(content='@{{site.twitter_username}}', name='twitter:site')
meta(content='{{page.description}}', property='twitter:description')
meta(content='{{page.title}}', property='twitter:title')

meta(content='{{site.baseurl | prepend:site.url}}/assets/icons/64.png', property='og:image')
meta(content='64', property='og:image:width')
meta(content='64', property='og:image:height')

meta(content='Gelarto', property='og:site_name')
meta(content='{{page.description}}', property='og:description')
meta(content='{{page.title}}', property='og:title')

meta(content='{{page.description}}', name='description')
title {{page.title}}

meta(property='og:url', content='{{site.baseurl | prepend:site.url}}')
link(rel='canonical', href='{{site.baseurl | prepend:site.url}}')

link(rel='dns-prefetch', href='//unpkg.com')
link(rel='stylesheet', href='//unpkg.com/michaelmarkie-css_framework@2.2.3/dist/framework.min.css', integrity='sha384-CRFBTKkRLPhVaDJULaZWpaDd0VoNFQaMcLVXTR8USEuqIZuThwtrHOuFqmSci3ON', crossorigin='anonymous')
link(rel='stylesheet', href='{{site.baseurl}}/assets/css/core.css')