header
    .fluid_container.c12.w1110.g30
        .fluid_4.logo_container
            h1
                a.icon.icon-logo(href='{{site.baseurl}}/') 

        .fluid_8.text_middle
            nav(role='navigation')
                label.icon.icon-hamburger.show_menu(for='show_menu') Menu
                input#show_menu(type='checkbox')
                ul
                    li.home
                        a(href='{{site.baseurl}}/', title='home')
                            .image
                            .title home
                    li.what_we_make(class='{% if page.colour == \'what_we_make\' %}active{% endif %}')
                        a(href='{{site.baseurl}}/what-we-make/', title='what we make')
                            .image
                            .title what we make

                    li.about_us(class='{% if page.colour == \'about_us\' %}active{% endif %}')
                        a(href='{{site.baseurl}}/about/', title='about us')
                            .image
                            .title about us
                        ul.dropdown
                            li
                                a(href='{{site.baseurl}}/about/our-history') Our history
                            li
                                a(href='{{site.baseurl}}/about/our-family') Our family

                    li.trade(class='{% if page.colour == \'trade\' %}active{% endif %}')
                        a(href='{{site.baseurl}}/trade/', title='trade')
                            .image
                            .title trade
                        ul.dropdown
                            li
                                a(href='{{site.baseurl}}/trade/where-can-i-buy/') Where can I buy?
                            li
                                a(href='{{site.baseurl}}/trade/see-us-at/') See us at
                            li
                                a(href='{{site.baseurl}}/trade/equipment') Gelarto Equipment

                    li.community(class='{% if page.colour == \'community\' %}active{% endif %}')
                        a(href='{{site.baseurl}}/social/', title='social')
                            .image
                            .title social
