---
layout: blank
title: Our Equipment
permalink: /trade/equipment/
banner: false
colour: trade
static_banner: exhibit
---

<div class="fluid_container c12 w1110 g30">
    <div class="fluid_12">
        <div class="generic_banner" style="background-image: url('{{site.baseurl}}/assets/images/banners/{{page.static_banner | default: 'default'}}.jpg');">
            <h2 class="{{page.colour}}">{{page.title}}</h2>
        </div>
    </div>
    <div class="fluid_12">
        <div class="text_columns">
            <p>We offer a comprehensive range of display freezers to suit most retail environments. We can offer bespoke solutions should a specific need arise. Our 2 man crew will deliver directly to your premises and set up your freezer so you are ready to go. in order to get you up and running we have devised a range of freezer deals which combine our cost effective branded freezers with a complimentary fully loaded stock option. Happy scooping!</p>
        </div>
    </div>
</div>

<div class="spacer"></div>
<div class="woodgrain">
    <div class="fluid_container c12 w1110 g30">
        <div class="fluid_12"></div>
        <div class="fluid_12">

            <ul class="equipment">
                <li class="percentage">
                    <div class="fifty image">
                        <img src="{{site.baseurl}}/assets/images/equipment/black.png" alt="">
                    </div>
                    <div class="fifty">
                        <table>
                            <tr>
                                <th colspan="2">Framec J7E Freezer</th>
                            </tr>
                            <tr>
                                <td>
                                    <b class="text_core">Dimensions:</b><br>
                                    Width: 1,341mm<br>
                                    Depth: 723mm<br>
                                    Height: 1,224mm
                                </td>
                                <td>
                                    <b class="text_core">Capacity:</b><br>
                                    7 x 5 Litre<br>
                                    <b class="text_core">Storage:</b><br>
                                    12 x 5 Litre
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Includes:
                                    2 Year Parts and 1 Year Labour Warranty<br>
                                    <b>Free stock worth &pound;1,000 at RRP</b><br>
                                    (Price includes delivery, unpacking & positioning)
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="percentage">
                    <div class="fifty image">
                        <img src="{{site.baseurl}}/assets/images/equipment/pink.png" alt="">
                    </div>
                    <div class="fifty">
                        <table>
                            <tr>
                                <th colspan="2">Framec J9E Freezer</th>
                            </tr>
                            <tr>
                                <td>
                                    <b class="text_core">Dimensions:</b><br>
                                    Width: 1,656mm<br>
                                    Depth: 723mm<br>
                                    Height: 1,224mm 
                                </td>
                                <td>
                                    <b class="text_core">Capacity:</b><br>
                                    9 x 5 Litre<br>
                                    <b class="text_core">Storage:</b><br>
                                    16 x 5 Litre
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Includes:
                                    2 Year Parts and 1 Year Labour Warranty<br>
                                    <b>Free stock worth &pound;1,000 at RRP</b><br>
                                    (Price includes delivery, unpacking & positioning)
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>