---
layout: blank
title: See us at
permalink: /trade/see-us-at/
banner: false
colour: trade
static_banner: trade
---

<div class="fluid_container c12 w1110 g30">
    <div class="fluid_12">
        <div class="generic_banner" style="background-image: url('{{site.baseurl}}/assets/images/banners/{{page.static_banner | default: 'default'}}.jpg');">
            <h2 class="{{page.colour}}">{{page.title}}</h2>
        </div>
    </div>
    <div class="fluid_12">
        <p>In order to bring our delicious products to a new fan base we have an active programme of events and exhibitions which we continually add to. So please keep an eye on this page to see where you can meet us and sample our delightful delicacies.</p>
    </div>
</div>

<div class="spacer"></div>
<div class="woodgrain see_us_at">
    <div class="fluid_container c12 w1110 g30">
        <div class="fluid_12"></div>
        <div class="fluid_6">
            <div class="white_box">
                <img src="{{site.baseurl}}/assets/images/clean/casual_dining.jpg" alt="">
                <address>
                    House name
                    Street
                    City
                    Post Code
                </address>
            </div>
        </div>
        <div class="fluid_6">
            <div class="white_box">
                <img src="{{site.baseurl}}/assets/images/clean/the_restaurant_show.jpg" alt="">
                <address>
                    House name
                    Street
                    City
                    Post Code
                </address>
            </div>
        </div>
        <div class="fluid_12"></div>
    </div>
</div>