---
layout: hero
title: Where Can I Buy
permalink: /trade/where-can-i-buy/
class: where-can-i-buy
banner: false
colour: trade
static_banner: distribution_map
hero:
    image: distribution_map
    text: Family run business
    textStyle: 'font-size: 72px;'
    white_splash: From our Turin base we service the USA and UK
    pink_splash: 36 delicious ices with unbeatable flavours
---
<div class="spacer"></div>
<div class="fluid_container c12 w1110 g30">
    <!--<div class="fluid_12">
        <div class="generic_banner" style="background-image: url('assets/images/banners/{{page.static_banner | default: 'default'}}.jpg');">
            <h2 class="{{page.colour}}">{{page.title}}</h2>
        </div>
    </div>-->
    <div class="fluid_12"></div>
    <div class="fluid_12">
        <div class="text_columns">
            <p>As a young and dynamic Anglo Italian partnership we are continually forging new relationships with distributors and wholesalers who have a vast network of trade and retail outlets offering our delicious product all over the United Kingdom and the East coast of America.</p>
            <p>In addition to this distributor network we are also energetically establishing our own network of Gelarto gelarteria where we look forward to sharing our delicious gelato and sorbets transported directly from our Alpine manufacturing base.</p>
        </div>
    </div>
</div>