---
layout: blank
title: Social
permalink: /social/
banner: false
colour: community
static_banner: collage
---

<div class="fluid_container c12 w1110 g30">
    <div class="fluid_12">
        <div class="generic_banner" style="background-image: url('{{site.baseurl}}/assets/images/banners/{{page.static_banner | default: 'default'}}.jpg');">
            <h2 class="{{page.colour}}">{{page.title}}</h2>
        </div>
    </div>
    <div class="fluid_6">
        This section on our website is for you to share your pictures and share your experiences. The Gelarto family would love to hear from you and share your awesome stuff with like minded Gelarto fanatico's! 
    </div>
    <div class="fluid_6">
        Please go to <b class="text_{{page.colour}}">#welovegearto</b> and post away and we will regram the our favourite content onto this page. Don't forget to allow us to share you content on your settings! 
    </div>
</div>


<div class="spacer"></div>
<div class="woodgrain see_us_at">
    <div class="fluid_container c12 w1110 g30">
        <div class="fluid_12"></div>
        <div class="fluid_12">

            <!-- LightWidget WIDGET -->
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="https://cdn.lightwidget.com/widgets/ed9b4d251689516fa8fd953959fe51cf.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

        </div>
        <div class="fluid_12"></div>
    </div>
</div>