.fluid_container.c12.w1110.g30.no_print(aria-hidden='true')
    .fluid_12

        .rotator
            .icon.icon-arrow_left(onclick='prev()')
            .icon.icon-arrow_right(onclick='next()')
            .banners
                .banner.meg.active
                    .name_card.animated.bounceInRight.hide_small
                        div
                            span.adler NAME: 
                            | Meg Yeoman, Gelarto Sales, London
                        div
                            span.adler Loves: 
                            | Seat salt Caramel, then I discovered our OREO gelato. OMG! try them together - it&apos;s my new favourite mix.
                    
                    svg.pink_box.animated.bounceInRight(viewBox='0 0 213 54' xmlns='http://www.w3.org/2000/svg')
                        polyline(fill='#F0047F' points='9,2 89,3 170,0 209,8 212,31 212,48 188,51 135,49 63,51 9,53 0,34 ')
                        text(transform='matrix(1 0 0 1 30 19)' fill='#fff' style='font-size: 12px') Join our community
                        text(transform='matrix(1 0 0 1 22 32)' fill='#fff' style='font-size: 8px')
                            tspan Let us know your go to favourites,
                            tspan(x='0' y='11') crazy combos or creative ideas...
                    
                    svg.header.animated.bounceInUp(height='120', viewBox='0 20 1110 100', xmlns='http://www.w3.org/2000/svg')
                        text(x='35', y='100%', fill='#fff') Find your flavour
                    svg.subheader.animated.bounceInUp(viewBox='0 0 257 25', xmlns='http://www.w3.org/2000/svg')
                        polyline(fill='#CF8906', points='6,0 253,1 255,13 257,24 150,25 69,20 0,23 ')
                        text(transform='matrix(1 0 0 1 10 18)' fill='#fff') The Worlds Tastiest Gelato
                    .person.animated.bounceInLeft
                    .heart.animated.bounceInRight.hide_small
                .banner.lorna
                    .name_card.animated.bounceInLeft.hide_small
                        div
                            span.adler NAME: 
                            | Lorna, Gelarto Sales, London
                        div
                            span.adler Loves: 
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 


                    svg.pink_box.animated.bounceInLeft(viewBox='0 0 213 54' xmlns='http://www.w3.org/2000/svg')
                        polyline(fill='#F0047F' points='9,2 89,3 170,0 209,8 212,31 212,48 188,51 135,49 63,51 9,53 0,34 ')
                        text(transform='matrix(1 0 0 1 30 19)' fill='#fff' style='font-size: 12px') Join our community
                        text(transform='matrix(1 0 0 1 22 32)' fill='#fff' style='font-size: 8px')
                            tspan Let us know your go to favourites,
                            tspan(x='0' y='11') crazy combos or creative ideas...

                    svg.header.animated.bounceInUp(height='120', viewBox='0 20 1110 100', xmlns='http://www.w3.org/2000/svg')
                        text(x='35', y='100%', fill='#fff') Find your flavour
                    svg.subheader.animated.bounceInUp(viewBox='0 0 257 25', xmlns='http://www.w3.org/2000/svg')
                        polyline(fill='#CF8906', points='6,0 253,1 255,13 257,24 150,25 69,20 0,23 ')
                        text(transform='matrix(1 0 0 1 10 18)' fill='#fff') The Worlds Tastiest Gelato
                    .person.animated.bounceInRight
                    .heart.animated.bounceInLeft.hide_small
        .spacer
