.fluid_container.c12.w1110.g30.no_print(aria-hidden='true')
    .fluid_12

        .rotator
            .icon.icon-arrow_left(onclick='prev()')
            .icon.icon-arrow_right(onclick='next()')
            .dots
                .dot.active(onclick='goto(1)')
                .dot(onclick='goto(2)')
                .dot(onclick='goto(3)')
            .banners

                .banner.one.active
                    svg.header.animated.bounceInUp(width='100%', viewBox='0 20 1110 100', xmlns='http://www.w3.org/2000/svg')
                        text(x='35', y='100%', fill='#fff')  36 delicious flavours
                    .name_card.animated.bounceInLeft Made from the finest ingredients blended with pure crisp Pimonte water or creamy fresh milk..
                    svg.pink_box.animated.bounceInLeft(viewBox='0 0 213 54' xmlns='http://www.w3.org/2000/svg')
                        polyline(fill='#F0047F' points='9,2 89,3 170,0 209,8 212,31 212,48 188,51 135,49 63,51 9,53 0,34 ')
                        text(transform='matrix(1 0 0 1 36 24)' fill='#fff' style='font-size: 18px')
                            tspan Try our new
                            tspan(x='0' y='15') Vegan range

                .banner.two
                    svg.header.animated.bounceInUp(width='100%', viewBox='0 20 1110 100', xmlns='http://www.w3.org/2000/svg')
                        text(x='35', y='100%', fill='#fff')  Direct from our farm
                    .name_card.animated.bounceInRight My name is Isabella and my milk is as delicious as the lush Alpine grass I feed on!

                .banner.three
                    svg.header.animated.bounceInUp(width='100%', viewBox='0 20 1110 100', xmlns='http://www.w3.org/2000/svg')
                        text(x='35', y='100%', fill='#fff')  Enjoyed by generations
                    .name_card.animated.bounceInLeft Tastes as fresh &amp; delicious today as it did when our story started in 1956.
                    .pink_box.bg.animated.bounceInLeft Typically half the fat of dairy ice cream - for that perfect beach body!
        .spacer
