.woodgrain
    .fluid_container.c12.w1110.g30
        .fluid_12
        .fluid_4
            a.block(href="{{site.baseurl}}/what-we-make/")
                .image
                    picture
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_display.webp 350w, assets/images/responsive/categories/420_display.webp 420w, assets/images/responsive/categories/650_display.webp 650w', type='image/webp')
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_display.jpg 350w, assets/images/responsive/categories/420_display.jpg 420w, assets/images/responsive/categories/650_display.jpg 650w', type='image/jpg')
                        img(src='{{site.baseurl}}/assets/images/responsive/categories/350_display.jpg')
                .padding
                    h3 WHAT WE MAKE
                    .description 
                        | Deliciousness in a cone
                        br
                        | 36 Fabulous flavours
                    b Read More
        .fluid_4
            a.block(href="{{site.baseurl}}/about/our-stores/")
                .image
                    picture
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_store.webp 350w, assets/images/responsive/categories/420_store.webp 420w, assets/images/responsive/categories/650_store.webp 650w', type='image/webp')
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_store.jpg 350w, assets/images/responsive/categories/420_store.jpg 420w, assets/images/responsive/categories/650_store.jpg 650w', type='image/jpg')
                        img(src='{{site.baseurl}}/assets/images/responsive/categories/350_store.jpg')
                .padding
                    h3 OUR STORES
                    .description OPENING SOON in Willmington USA and Westfield Shopping Centre London UK
                    b Read More
        .fluid_4
            a.block(href="{{site.baseurl}}/news/")
                .image
                    picture
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_vegan.webp 350w, assets/images/responsive/categories/420_vegan.webp 420w, assets/images/responsive/categories/650_vegan.webp 650w', type='image/webp')
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_vegan.jpg 350w, assets/images/responsive/categories/420_vegan.jpg 420w, assets/images/responsive/categories/650_vegan.jpg 650w', type='image/jpg')
                        img(src='{{site.baseurl}}/assets/images/responsive/categories/350_vegan.jpg')
                .padding
                    h3 GELARTO NEWS
                    .description New Vegan range... Read all about it
                    b Read More
        .fluid_4
            a.block(href="{{site.baseurl}}/trade/")
                .image
                    picture
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_trade.webp 350w, assets/images/responsive/categories/420_trade.webp 420w, assets/images/responsive/categories/650_trade.webp 650w', type='image/webp')
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_trade.jpg 350w, assets/images/responsive/categories/420_trade.jpg 420w, assets/images/responsive/categories/650_trade.jpg 650w', type='image/jpg')
                        img(src='{{site.baseurl}}/assets/images/responsive/categories/350_trade.jpg')
                .padding
                    h3 TRADE PAGES
                    .description Check out our support and incentives
                    b Read More
        .fluid_4
            a.block(href="{{site.baseurl}}/about/")
                .image
                    picture
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_about.webp 350w, assets/images/responsive/categories/420_about.webp 420w, assets/images/responsive/categories/650_about.webp 650w', type='image/webp')
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_about.jpg 350w, assets/images/responsive/categories/420_about.jpg 420w, assets/images/responsive/categories/650_about.jpg 650w', type='image/jpg')
                        img(src='{{site.baseurl}}/assets/images/responsive/categories/350_about.jpg')
                .padding
                    h3 ABOUT US
                    .description Read all about our exciting journey
                    b Read More
        .fluid_4
            a.block(href="{{site.baseurl}}/social/")
                .image
                    picture
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_community.webp 350w, assets/images/responsive/categories/420_community.webp 420w, assets/images/responsive/categories/650_community.webp 650w', type='image/webp')
                        source(srcset='{{site.baseurl}}/assets/images/responsive/categories/350_community.jpg 350w, assets/images/responsive/categories/420_community.jpg 420w, assets/images/responsive/categories/650_community.jpg 650w', type='image/jpg')
                        img(src='{{site.baseurl}}/assets/images/responsive/categories/350_community.jpg')
                .padding
                    h3 SOCIAL
                    .description Please share your images and ideas with us
                    b Read More
        .fluid_12