
.woodgrain
    .fluid_container.c12.w1110.g30
        .fluid_12
        .fluid_12
            .tabs
                input(type="radio" name="tabs" id="tab-uk" checked="checked")
                label(for="tab-uk")
                    img(src="{{site.baseurl}}/assets/images/uk.svg" height="20")
                    span UK

                input(type="radio" name="tabs" id="tab-usap")
                label(for="tab-usap")
                    img(src="{{site.baseurl}}/assets/images/us.svg" height="20")
                    span USA

                input(type="radio" name="tabs" id="tab-usab")
                label(for="tab-usab")
                    img(src="{{site.baseurl}}/assets/images/us.svg" height="20" alt="")
                    span USA - B2B


                .clear

                #tab-content-uk.tab-content
                    ul
                        li
                            b Stratford Fine Foods
                            address.
                                Goldicote Business Park
                                Banbury Road
                                Goldicote
                                Stratford upon Avon
                                CV37 7NB

                                01789 740094
                        li
                            b Hunt's Foodservice
                            address.
                                Ludbourne Road
                                Sherborne
                                DT9 3NJ

                                01935 810200
                        li
                            b Savona Foodservice South West
                            address.
                                Mullacott Business Park
                                Ilfracombe
                                EX34 8PL

                                01271 862569
                        li
                            b Continental Wine &amp; Food
                            address.
                                Trafalgar Mills
                                Leeds Road
                                Huddersfield
                                West Yorkshire
                                HD2 1YY

                                01484 538333
                        li
                            b Continental Quattro Stagioni
                            address.
                                Royal Elizabeth Yard
                                Kirkliston
                                EH29 9EN

                                0131 319 1919
                        li
                            b Rossi International
                            address.
                                Henbury Stud Farm
                                Sturminster Marshall
                                Wimborne
                                Dorset
                                BH21 3RN
                                
                                01258 857210

                #tab-content-usap.tab-content
                    ul
                        li 
                            b Florida
                            ul
                                li Publix Supermarkets
                        
                        li 
                            b Alabama
                            ul
                                li Publix Supermarkets
                        
                        li 
                            b South Carolina
                            ul
                                li Publix Supermarkets
                        
                        li 
                            b North Carolina
                            ul
                                li Publix Supermarkets
                                li Dough Life Pineville
                                li Dough Life Durham
                        
                        li 
                            b Georgia
                            ul
                                li Publix Supermarkets
                        
                        li 
                            b West Virginia
                            ul
                                li Publix Supermarkets
                        
                        li 
                            b Washington
                            ul
                                li Balducci's Markets
                                li Nandos Restaurants
                        
                        li 
                            b Pennsylvania
                            ul
                                li Guiliana's Pizzeria
                                li Clara's
                                li New Town Swim Club
                                li Ludwig's Market
                                li Dulce de Leche Bakery
                                li Gelato Dolceria
                                li A &amp; M Pizzeria
                                li Bruno's Pizzeria
                                li Russo Market
                        
                        li 
                            b New Jersey
                            ul
                                li Kings supermarkets
                                li Café Bene
                                li Dough Life, Cherry Hill
                                li AMA Pizza
                        
                        li 
                            b Massachusetts
                            ul
                                li Joey's, Boston
                                li Café dello Sport, Boston
                        
                        li 
                            b New York
                            ul
                                li Ace Endico Market, Brewster
                                li The Boat Basin, Manhattan
                                li Balducci Markets
                                li Piccolo Cafes, Manhattan
                                li Lucciola, Manhattan
                                li GelaRto, Manhattan
                                li Dough Life, Albany
                                li Dough Life, Syracuse

                #tab-content-usab.tab-content
                    ul
                        li 
                            b New York
                            ul
                                li ACE Endico
                                li Omni
                                li KeHe Distribution

                        
                        li 
                            b New Jersey
                            ul
                                li Dingmans Dairy
                                li Sweet on Wheels
                                li Dolcissimo Desserts
                                li Mercato Foods
                                li KeHe Distribution

                        
                        li 
                            b Massachusets
                            ul
                                li New England Ice Cream Corporation
                                li KeHe Distribution

                        
                        li 
                            b Pennsylvania
                            ul
                                li Sysco Foods
                                li Russo Foods &amp; Market
                                li KeHe Distribution

                        
                        li 
                            b Illinois
                            ul
                                li Cugini Distibution LLC
                                li KeHe Distribution

                        
                        li 
                            b North Carolina
                            ul
                                li Old Cilentro Stores
                                li KeHe Distribution

        .fluid_12


script#uk-tmpl(type='text/x-handlebars-template').
    {% raw %}
        <div class="place">
            <div class="text">
                <h3>{{{name}}}</h3>
                <address>{{{address}}}</address>
                <a href="tel:{{{phone}}}" class="phone">{{{phone}}}</a>
            </div>
            <div data-latlng="{{latlng}}" class="map"></div>
        </div>
    {% endraw %}
