.menu.woodgrain
    .spacer
    .fluid_container.c12.w1110.g30.items
    
    .lightbox
        .background
        .box
    .spacer


| {% raw %}
script#block_template(type='text/x-handlebars-template')
    .fluid_3(data-code='{{code}}', onclick='openLightbox(this);')
        .block
            img.lazy(data-src='{{site.baseurl}}/assets/images/menu/front/{{code}}w350.jpg')
            .padding
                .header.adler {{description}}

script#lightbox_template(type='text/x-handlebars-template')

    .lightbox_content
        .header
            .close.hide_print x
            .wrap
                .right
                    img(src='{{site.baseurl}}/assets/images/menu/scoop/{{code}}w350.jpg')
                
                .left
                    .name {{name}}
                    .subtitle {{subtitle}}
                    .spacer
                    .spacer
                    div
                        span.field_title CODE: 
                        | {{code}}
                    div
                        span.field_title DESCRIPTION: 
                        | {{description}}
                    div
                        span.field_title ITALIAN DESCRIPTION: 
                        | {{description_it}}
                    div
                        span.field_title CASE SIZE: 
                        | {{case_size}}
                    div
                        span.field_title CASE WEIGHT: 
                        | {{case_Weight}}
                    div
                        span.field_title ORIGIN: 
                        | {{origin}}
        .wrap.padding_bottom
            .left
                h3 INGREDIENTS
                .ingredients
                    | {{#each ingredients}}
                    div
                        b {{uppercase @key}}: 
                        | {{this}}
                    | {{/each}}
            .right
                table.nutritional(cellpadding='0', cellspacing='0')
                    thead
                        tr
                            td NUTRITIONAL INFORMATION
                            td PER 100g
                    tbody
                        | {{#each nutritional}}
                        tr
                            td {{name}}
                            td {{value}}
                        | {{/each}}
        .wrap
            .left
                h3.text_capitalise ALLERGEN INFORMATION
                .allergen_info Allergens are identified by the commision Regulation (EU) 1169/2011 - Directive 2006/142/EC and FDA Regualtions. Plese refer to the ingredients list for a full breakdown of ingredients for this product. Produced in a plant that processes milk, eggs and nuts.
                
            .right
                table.allergen(cellpadding='0', cellspacing='0')
                    thead
                        tr
                            td ALLERGEN
                            td PRESENT
                    tbody
                        | {{#each allergen}}
                        tr
                            td {{readable @key}}
                            td {{yes_no this}}
                        | {{/each}}
        .wrap
            .print.hide_print 
                .icon.icon-print
                | &nbsp;Print
        .spacer
| {% endraw %}
