---
layout: hero
title: About Us
permalink: /about/
banner: false
colour: about_us
static_banner: about-us
hero:
    image: about-us
    text: Michelin starred restaurant
    textStyle: 'font-size: 54px;'
    white_splash: Our fruit and fresh ingredients are supplied by local farms and orchards
    pink_splash: 30 years manufacturing know how
images:
    - assets/images/responsive/static/350_al_gatto_nero.jpg
    - assets/images/responsive/static/350_fruit.jpg
    - assets/images/responsive/static/350_milk.jpg
---
<div class="fluid_container c12 w1110 g30">
    <div class="fluid_12">
        <blockquote>
            <h1>We've been carefully crafting our award-winning gelato in Turin, Italy for over thirty years.</h1>
        </blockquote>
    </div>
    <div class="fluid_12">
        <div class="text_columns">
            <p>The Grassi family have been carefully crafting our award-winning gelato in Turin, Italy for over thirty years, based on Grassi family recipes developed at our Michelin Star restaurant in Turin. In fact, our gelato is still served to diners at Al Gatto Nero today, so you could say we have some experience in keeping customers happy.  </p>
            <p>We use nothing but the finest ingredients; fresh or whole fruit wherever possible blended  with pure, crisp Piemonte water or creamy,  fresh milk from our own herd of dairy cows,  while the only preservative we ever use is  very cold air.</p>
            <p>So you can be confident our award-winning Italian ice cream and sorbet tastes as fresh and delicious today as it did in 1956</p>
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        </div>
    </div>
</div>