---
layout: woodgrain
title: Our Family
permalink: /about/our-family/
banner: false
colour: about_us
static_banner: our-family
---
<ul class="people">
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/nigel.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/nigel.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/nigel.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Nigel</h1>
                    <h2>The Maestro</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/luca_and_sonia.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/luca_and_sonia.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/luca_and_sonia.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Luca & Sonia</h1>
                    <h2>The Grandmasters</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/angus.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/angus.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/angus.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Angus</h1>
                    <h2>UK Head Honcho</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/marzia.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/marzia.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/marzia.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Marzia</h1>
                    <h2>Farm fixer</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/steffano.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/steffano.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/steffano.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Steffano</h1>
                    <h2>Mr Turino</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/daniano.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/daniano.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/daniano.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Daniano</h1>
                    <h2>The Big Apple</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/lorna.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/lorna.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/lorna.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Lorna</h1>
                    <h2>Office Guru</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/juan.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/juan.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/juan.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Juan</h1>
                    <h2>Mr Joe</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/meg.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/meg.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/meg.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Meg</h1>
                    <h2>Our London mol</h2>
                </div>
            </div>
        </div>
    </li>
    <li class="person">
        <div class="inner">
            <div class="front">
                <picture>
                    <source srcset="{{site.baseurl}}/assets/images/people/duff.webp" type="image/webp">
                    <source srcset="{{site.baseurl}}/assets/images/people/duff.jpg" type="image/jpg">
                    <img src="{{site.baseurl}}/assets/images/people/duff.jpg" alt="">
                </picture>
            </div>
            <div class="back">
                <div>
                    <h1>Duff</h1>
                    <h2>Gelarto taster</h2>
                </div>
            </div>
        </div>
    </li>
</ul>