// sass-lint:disable class-name-format, disable no-important

.animated
    animation-duration: 1s
    animation-fill-mode: both
    @media (print), (prefers-reduced-motion: reduce)
        animation-duration: 1ms !important
        animation-iteration-count: 1 !important
    .infinate
        animation-iteration-count: infinite
    .fast
        animation-duration: 800ms
    .faster
        animation-duration: 500ms
    .slow
        animation-duration: 2s
    .slower
        animation-duration: 3s

    @for $i from 1 through 5
        .delay-#{$i}s
            animation-delay: #{$i}s


@keyframes bounceInUp
    from,
    60%,
    75%,
    90%,
    to
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    from
        transform: translate3d(0, 2000px, 0)
    60%
        transform: translate3d(0, -25px, 0)
    75%
        transform: translate3d(0, 10px, 0)
    90%
        transform: translate3d(0, -5px, 0)
    to
        transform: translate3d(0, 0, 0)


.bounceInUp
    animation-name: bounceInUp




@keyframes bounceInRight
    from,
    60%,
    75%,
    90%,
    to
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    from
        margin-right: -2000px
    60%
        margin-right: -25px
    75%
        margin-right: 10px
    90%
        margin-right: -5px
    to
        margin-right: 0

.bounceInRight
    animation-name: bounceInRight

@keyframes bounceInLeft
    from,
    60%,
    75%,
    90%,
    to
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    0%
        margin-left: -2000px
    60%
        margin-left: 25px
    75%
        margin-left: -10px
    90%
        margin-left: 5px
    to
        margin-left: 0


.bounceInLeft
    animation-name: bounceInLeft
