html.webp
    .rotator .banners .banner
        &.meg .person
            background-image: url('../images/meg.webp')
        &.lorna .person
            background-image: url('../images/lorna.webp')
        &.one
            background: url('../images/carousel/one.webp')
        &.two
            background: url('../images/carousel/two.webp')
        &.three
            background: url('../images/carousel/three.webp')

html.no-webp,
html.no-js
    .rotator .banners .banner
        &.meg .person
            background-image: url('../images/meg.png')
        &.lorna .person
            background-image: url('../images/lorna.png')
        &.one
            background: url('../images/carousel/one.jpg')
        &.two
            background: url('../images/carousel/two.jpg')
        &.three
            background: url('../images/carousel/three.jpg')

.rotator
    height: 630px
    overflow: hidden
    width: 100%
    position: relative
    @media (max-width: $screen-sm)
        height: 440px

    &:hover
        .icon-arrow_right,
        .icon-arrow_left
            //background: rgba(255, 255, 255, .4)
            color: rgba(255, 255, 255, 1)
    .icon-arrow_right,
    .icon-arrow_left
        position: absolute
        z-index: 3
        cursor: pointer
        top: 0
        bottom: 0
        font-size: 30px
        padding: 0 20px
        color: rgba(255, 255, 255, .1)
        overflow: auto
        &:before
            overflow: auto
            position: absolute
            top: 50%
    .icon-arrow_left
        left: 0
        &:before
            left: 10px
    .icon-arrow_right
        right: 0
        &:before
            right: 10px

    .dots
        text-align: center
        position: absolute
        left: 0
        right: 0
        bottom: 20px
        z-index: 999
        .dot
            display: inline-block
            width: 15px
            height: 15px
            content: ' '
            border-radius: 100%
            background: #fff
            border: 1px solid $core
            cursor: pointer
            &.active
                background: $core

    .banners
        .banner
            position: absolute
            display: none
            top: 0
            right: 0
            bottom: 0
            left: 0
            &.active
                display: block



            .person
                background-repeat: no-repeat
                background-size: 100% auto
                position: absolute
                top: 50px
                width: 100%
                height: 100%
                @media (max-width: $screen-sm)
                    width: 80%
            .heart
                background: url('../images/heart.svg') no-repeat
                background-size: 100% auto
                position: absolute
                top: 25%
                width: 135px
                height: 100px
                z-index: 3

            .name_card,
            .pink_box
                position: absolute
                z-index: 2
            .name_card
                background-image: url('../images/name_card.svg')
                background-size: 100% 100%
                width: 427px
                top: 10%
                padding: 18px
                font-size: 18px
                transform: rotate(-5deg)
                font-family: ArdleysHand
            .pink_box
                transform: rotate(-5deg)
                width: 400px
                font-family: Adler
                transition: top .5s, width .5s
                &.bg
                    background-image: url('../images/pink_box.svg')
                    background-size: 100% 100%
                    color: #fff
                    padding: 10px 20px
                @media (max-width: $screen-sm)
                    top: 50%
                @media (max-width: 500px)
                    top: 57%
                    width: 90%
            .header,
            .subheader
                position: absolute
                z-index: 2
                font-family: Adler
                width: 100%
            .header
                bottom: 7%
                text-shadow: 2px 2px 5px #000
                font-size: 80px
            .subheader
                bottom: 4%
                right: 10%
                max-width: 414px
                min-height: 40px
                font-size: 15px
                transition: bottom .5s, width .5s
                @media (max-width: $screen-sm)
                    right: 10px
                    font-size: 15px
                    width: 75%


            //new content
            &.one
                .name_card
                    width: 334px
                    left: 5%
                    @media (max-width: 500px)
                        width: 90%
                .pink_box
                    left: 5%
                    top: 50%
                    @media (max-width: 500px)
                        width: 90%
            &.two
                .name_card
                    right: 5%
                    width: 334px
                    @media (max-width: 500px)
                        width: 90%
            &.three
                .name_card
                    width: 334px
                    left: 5%
                    @media (max-width: 500px)
                        width: 90%
                .pink_box
                    left: 5%
                    top: 50%
                    max-width: 340px
                .header
                    font-size: 70px


            // Old Content
            &.meg
                background: linear-gradient(69deg, #f5b2af 0%, #ffddde 30%, #f5b2af 100%)
                .person
                    left: 5%
                    max-width: 400px
                    max-height: 650px
                .heart,
                .name_card,
                .pink_box
                    right: 5%
            &.lorna
                background: linear-gradient(69deg, #a6f8de 0%, #a6f8de 30%, #bbe9dc 100%)
                .person
                    right: 5%
                    max-width: 515px
                    max-height: 689px
                .heart
                    left: 30%
                .name_card,
                .pink_box
                    left: 5%
