@font-face
    font-family: 'Adler'
    src: url('../fonts/adler-webfont.woff2') format('woff2'), url('../fonts/adler-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'ArdleysHand'
    src: url('../fonts/ardleyshand-webfont.woff2') format('woff2'), url('../fonts/ardleyshand-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

.adler
    font-family: Adler
.ardleys
    font-family: ArdleysHand
