.hero
    width: 100%
    height: 630px
    text-align: center
    position: relative
    h2
        position: absolute
        bottom: -45px
        left: 0
        display: inline-block
        font-family: Adler
        font-size: 50px
        color: #fff
        text-shadow: 2px 2px 5px #000
        padding: 5px 40px 0
        mask: url('../images/sash.svg')
        mask-size: cover
        @media (max-width: $screen-sm)
            font-size: 22px
            bottom: -22px
        &.about_us
            background-color: $about_us
        &.what_we_make
            background-color: $what_we_make
        &.trade
            background-color: $trade
        &.community
            background-color: $community
        &.news
            background-color: $news

    .text,
    .white_splash,
    .pink_splash
        position: absolute

    .text_style
        font-size: 100px
    .text
        font-size: 100%
        width: 100%
        color: #fff
        font-family: Adler
        bottom: 5%
        text-shadow: 2px 2px 5px #000
        @media (max-width: $screen-sm)
            font-size: 50%

    .pink_splash
        background: url('../images/pink_box.svg') no-repeat
        background-size: cover
        padding: 20px
        font-family: Adler
        font-size: 20px
        max-width: 300px
        color: #fff
        left: 5%
        bottom: 40%
        transform: rotate(-5deg)

    .white_splash
        background: url('../images/name_card.svg') no-repeat
        background-size: cover
        padding: 20px
        font-family: Adler
        font-size: 20px
        max-width: 300px
        color: #000
        right: 5%
        top: 10%
        transform: rotate(5deg)
    