.posts
    .post
        background: #fff
        padding: 20px
        overflow: auto
        img
            float: left
            width: calc(40% - 20px)
            margin-right: 20px
            @media (max-width: $screen-sm)
                width: 100%
                margin-bottom: 10px
        .content
            float: left
            width: 60%
            @media (max-width: $screen-sm)
                width: 100%
        a
            display: block
            text-decoration: none
            color: inherit
