html.no-js,
html.no-webp
    .woodgrain
        background-image: url('../images/background_2000w.jpg')
        background-size: 100% auto
        @media (max-width: 1500px)
            background-image: url('../images/background_1500w.jpg')
        @media (max-width: 1000px)
            background-image: url('../images/background_1000w.jpg')
        @media (max-width: 800px)
            background-image: url('../images/background_800w.jpg')
        @media (max-width: 500px)
            background-image: url('../images/background_500w.jpg')
        @media (max-width: 400px)
            background-image: url('../images/background_400w.jpg')

html.webp
    .woodgrain
        background-image: url('../images/background_2000w.webp')
        background-size: 100% auto
        @media (max-width: 1500px)
            background-image: url('../images/background_1500w.webp')
        @media (max-width: 1000px)
            background-image: url('../images/background_1000w.webp')
        @media (max-width: 800px)
            background-image: url('../images/background_800w.webp')
        @media (max-width: 500px)
            background-image: url('../images/background_500w.webp')
        @media (max-width: 400px)
            background-image: url('../images/background_400w.webp')


.homepage
    .block
        display: inline-block
        background: #e8e8e8
        text-decoration: none
        height: 100%
        font-size: 14px
        text-align: center
        padding: 0 0 10px
        color: #000
        &:hover
            &
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
                //background: linear-gradient(90deg, #d49925 0%, #f0ce52 100%)
                background: #c9c9c9
            img
                transform: rotate(15deg) scale(1.4)
        .image
            overflow: hidden
            img
                transition: .3s ease-in-out
                width: 100%
        h3
            font-family: Adler
            margin: 5px 0
            font-size: 20px

.text_core
    color: $core
.text_about_us
    color: $about_us
.text_what_we_make
    color: $what_we_make
.text_trade
    color: $trade
.text_community
    color: $community

.text_columns
    column-count: 2
    @media (max-width: $screen-sm)
        column-count: 1
    p
        page-break-inside: avoid
        break-inside: avoid
        margin: 0 0 20px

blockquote
    margin: 0
    padding: 0
    h1
        color: #50bfe2
        font-style: italic
        font-size: 300%
        font-weight: bold
    .name
        color: #808080

#hero
    width: 1110px
    height: 630px

section
    .generic_banner
        position: relative
        background-size: cover
        background-position: center center
        min-height: 300px
        width: 100%
        margin-bottom: 45px
        .pink_splash,
        .white_splash,
        .text
            position: absolute
            top: 0
            left: 0
            z-index: 4
            display: inline-block
        .text
            right: 0
            bottom: 0
        &::before
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            content: ' '
            display: block
            opacity: .2
        &.about_us
            &::before
                background-color: $about_us
        &.what_we_make
            &::before
                background-color: $what_we_make
        &.trade
            &::before
                background-color: $trade
        &.community
            &::before
                background-color: $community
        &.news
            &::before
                background-color: $news
        h2
            position: absolute
            bottom: -45px
            display: inline-block
            font-family: Adler
            font-size: 50px
            color: #fff
            text-shadow: 2px 2px 5px #000
            padding: 5px 40px 0
            mask: url('../images/sash.svg')
            mask-size: cover
            @media (max-width: $screen-sm)
                font-size: 27px
            &.about_us
                background-color: $about_us
            &.what_we_make
                background-color: $what_we_make
            &.trade
                background-color: $trade
            &.community
                background-color: $community
            &.news
                background-color: $news

section.where-can-i-buy
    .hero .pink_splash
        top: 10%
        bottom: auto
        @media (max-width: $screen-sm)
            top: 50%

.menu
    .block
        display: inline-block
        cursor: pointer
        background: #e8e8e8
        text-decoration: none
        height: 100%
        color: #000
        font-size: 14px
        text-align: center
        &:hover
            &
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
                //background: linear-gradient(90deg, #d49925 0%, #f0ce52 100%)
                background: #c9c9c9
        img,
        picture
            width: 100%


.no-touch
    ul.people
        li.person
            perspective: 1000px
            height: 384px
            &:hover .inner
                transform: rotateY(180deg)
            .inner
                transition: transform .8s
                transform-style: preserve-3d
                .front,
                .back
                    position: absolute
                    width: 100%
                    height: 100%
                    backface-visibility: hidden
                .back
                    transform: rotateY(180deg)

.touch ul.people li.person .inner .back
    position: absolute
    bottom: 0
    left: 0
    right: 0

ul.people
    display: grid
    grid-gap: 15px
    grid-template-columns: repeat(4, 1fr)

    margin: 0
    padding: 0
    li.person
        grid-column: span 1
        list-style: none
        display: inline-block
        padding: 0
        width: 100%
        @media (max-width: $screen-sm)
            grid-column: span 2
        .inner
            position: relative
            width: 100%
            height: 100%
            .front
                img
                    width: 100%
            .back
                background: #da9800
                display: flex
                flex-wrap: wrap
                justify-content: space-around
                align-items: center
                text-align: center
                h1,
                h2
                    display: block
                    width: 100%
                    color: #fff
                    font-weight: normal
                h1
                    font-family: adler
                    font-size: 20px
                h2
                    font-size: 14px

.lightbox
    display: none
    justify-content: space-evenly
    &.show
        display: flex
    > .background
        background: rgba(0, 0, 0, .8)
        z-index: 100
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
    > .box
        position: absolute
        z-index: 101
        background: #fff
        width: 100%
        max-width: 750px
        margin: 0 auto

.lightbox_content
    font-size: 16px
    @media print
        font-size: 12px
    .name
        font-weight: bold
        font-size: 143%

    .field_title
        font-weight: bold
        text-transform: capitalize

    .wrap
        padding: 0 30px
        clear: both
        overflow: auto
        &.padding_bottom
            padding-bottom: 30px
        //7 - 5
        .left
            float: left
            width: 40%
        .right
            float: right
            width: 55%
    .header
        position: relative
        background: #c7c8c6
        box-shadow: inset 0 0 0 999px #c7c8c6
        padding: 30px 0
        margin-bottom: 30px
        .wrap
            .left
                width: 55%
            .right
                width: 40%
        .close
            cursor: pointer
            position: absolute
            top: -20px
            right: -20px
            background: #fff
            border-radius: 100%
            width: 40px
            height: 40px
            text-align: center
            font-size: 187%
            border: 1px solid #8c8d8b
            box-shadow: 0 0 2px 0 rgba(255, 255, 255, .75)
        img
            width: 100%
            border: 2px solid #8c8d8b

    table
        width: 100%
        border-collapse: collapse
        thead
            td
                background-color: #6d6e6d
                box-shadow: inset 0 0 0 999px #6d6e6d
                color: #fff
        td
            padding: 4px
            border: 1px solid #6d6e6d

article
    padding: 20px 0 30px

.print
    cursor: pointer
    display: flex
    align-items: center
    .icon.icon-print
        font-size: 20px
    &:hover
        opacity: .4
    svg
        width: 20px
        height: 20px

.tabs
    margin: 0
    padding: 0
    width: 100%
    position: relative
    text-align: left

    .clear
        clear: both
        display: table
    input
        position: absolute
        top: -9999px
        left: -9999px
    label
        float: left
        padding: 10px 20px
        background: #fff
        border-top: 4px solid $grey
        border-left: 4px solid $grey
        cursor: pointer
        white-space: nowrap
        &:last-of-type
            border-right: 4px solid $grey
        span,
        img
            float: left
        img
            margin-right: 10px
        @media (max-width: $screen-sm)
            padding: 5px 10px
            font-size: 15px
            img
                height: 15px
                max-width: 25px
                margin-right: 5px

    .tab-content
        display: none
        border: 4px solid $core
        padding: 30px
        background: #fff
        .place
            clear: both
            overflow: auto
            margin-bottom: 30px
            .text
                width: 50%
                float: left
                @media (max-width: $screen-sm)
                    width: 100%
            .map
                width: 50%
                height: 200px
                float: right
                @media (max-width: $screen-sm)
                    width: 100%
        &::before
            content: ''
            display: table
            clear: both

    #tab-uk:checked + label[for='tab-uk']
        background: $core
        border-color: $core
    #tab-usap:checked + label[for='tab-usap']
        background: $core
        border-color: $core
    #tab-usab:checked + label[for='tab-usab']
        background: $core
        border-color: $core

    #tab-uk:checked ~ #tab-content-uk
        display: block
    #tab-usap:checked ~ #tab-content-usap
        display: block
    #tab-usab:checked ~ #tab-content-usab
        display: block


    address
        white-space: pre-line

    #tab-content-uk ul li
        margin: 0 0 20px
    ul
        margin: 0 0 20px
        padding: 0
        > li
            list-style: none
            margin: 0
            padding: 0

ul.equipment
    margin: 0
    padding: 0
    li
        list-style: none
        background: #f5ebd6
        text-align: left
        padding: 20px
        margin-bottom: 30px
        .image
            text-align: center
            img
                max-width: 300px
        table
            th,td
                padding: 10px
            th
                font-size: 177%
                font-weight: bold

.percentage
    display: flex
    justify-content: space-between
    @media (max-width: $screen-sm)
        display: block
    img
        width: 100%
    .ten
        width: calc(10% - 10px)
    .twenty
        width: calc(20% - 10px)
    .thirty
        width: calc(30% - 10px)
    .fourty
        width: calc(40% - 10px)
    .fifty
        width: calc(50% - 10px)
    .sixty
        width: calc(60% - 10px)

    .ten,
    .twenty,
    .thirty,
    .fourty,
    .fifty,
    .sixty
        width: 100%

section.static_images
    h1
        font-size: 58px
        font-weight: bold
        font-style: italic
        color: #50bfe2
        margin: 0
    .woodgrain .fluid_4 img
        width: 100%

.woodgrain.see_us_at
    text-align: center
    img
        max-width: 200px
        width: 100%
    address
        white-space: pre-line
        font-style: normal

.white_box
    background: #fff
    border: 1px solid #b7b5b5
    padding: 20px 0

.page_images
    img
        width: 100%
