.polaroids
    padding: 40px 0
    text-align: center
    height: 515px
    position: relative
    h2
        position: absolute
        bottom: -45px
        left: 0
        display: inline-block
        font-family: Adler
        font-size: 50px
        color: #fff
        text-shadow: 2px 2px 5px #000
        padding: 5px 40px 0
        mask: url('../images/sash.svg')
        mask-size: cover
        @media (max-width: $screen-sm)
            font-size: 22px
            bottom: -22px
        &.about_us
            background-color: $about_us
        &.what_we_make
            background-color: $what_we_make
        &.trade
            background-color: $trade
        &.community
            background-color: $community
        &.news
            background-color: $news
    .italy
        width: 80px
        position: absolute
        top: -20px
        left: -20px
        z-index: 4
        transform: rotate(-25deg)
    .polaroid
        --pull-in: 46px
        --polaroid-padding: 15px
        display: inline-block
        padding: var(--polaroid-padding) var(--polaroid-padding) 70px
        background: #fff
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .75)
        position: absolute
        .caption
            font-family: ArdleysHand
            font-size: 70%
            line-height: 160%
            position: absolute
            bottom: 10px
            left: 0
            right: 0
            h1
                margin: 0
        img:not(.italy)
            max-width: 350px
        &:nth-child(1)
            transform: rotate(-10deg) scale(.7)
            left: var(--pull-in)
        &:nth-child(2)
            z-index: 3
            left: calc(50% - ( ( 350px + ( var(--polaroid-padding) * 2) ) / 2))
        &:nth-child(3)
            transform: rotate(10deg) scale(.7)
            right: var(--pull-in)
