@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot?156985090');
	src: url('../fonts/icons.eot?156985090#iefix') format('eot'),
	url('../fonts/icons.ttf?156985090') format('truetype'),
		url('../fonts/icons.woff?156985090') format('woff');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.icon-arrow_left:before { content: "\E001"; }
.icon-arrow_right:before { content: "\E002"; }
.icon-facebook:before { content: "\E003"; }
.icon-hamburger:before { content: "\E004"; }
.icon-instagram:before { content: "\E005"; }
.icon-logo:before { content: "\E006"; }
.icon-print:before { content: "\E007"; }
.icon-twitter:before { content: "\E008"; }
.icon-youtube:before { content: "\E009"; }
