doctype html
html(lang='en', class='no-js')
    head(prefix='og: http://ogp.me/ns#')
        include includes/head.pug
    body
        include includes/header.pug


        section(class='{{page.class}}', role='main')

            | {{content}}

        include includes/footer.pug