doctype html
html(lang='en', class='no-js')
    head(prefix='og: http://ogp.me/ns#')
        include includes/head.pug
    body
        include includes/header.pug

        section(class='{{page.class}}', role='main')

            .fluid_container.c12.w1110.g30
                .fluid_12
                    .hero(style='background-image:url("{{site.baseurl}}/assets/images/banners/{{page.hero.image | default: \'default\'}}.jpg");')
                        h2(class='{{page.colour}}') {{page.title}}
                        | {% if page.hero.text %}
                        .text_style(style="{{page.hero.textStyle}}")
                            .text.animated.bounceInUp {{page.hero.text}}
                        | {% endif %}
                        | {% if page.hero.white_splash %}
                        .white_splash.animated.bounceInRight {{page.hero.white_splash}}
                        | {% endif %}
                        | {% if page.hero.pink_splash %}
                        .pink_splash.animated.bounceInLeft {{page.hero.pink_splash}}
                        | {% endif %}

                .fluid_12 {{content}}
                .fluid_12 
                    | &nbsp;


            | {% if page.permalink == '/what-we-make/' %}
            | {% include menu.html %}
            | {% endif %}

            | {% if page.permalink == '/trade/where-can-i-buy/' %}
            | {% include maps.html %}
            | {% endif %}

            | {% if page.permalink == '/about/our-stores/' %}
            | {% include stores.html %}
            | {% endif %}

            | {% if page.permalink == '/news/' %}
            .woodgrain
                .fluid_container.c12.w1110.g30
                    .fluid_12
                    .fluid_12
                        .posts

                            | {% for post in site.posts %}

                            .post
                                //a(href="{{site.baseurl}}{{post.url}}")
                                | {% if post.image %}
                                img(src="{{site.baseurl}}/assets/images/news/{{ post.image }}")
                                | {% endif %}

                                h3 {{ post.title }}

                                | {% if post.date %}
                                .meta {{ post.date | date: "%-d %B %Y" }}
                                | {% endif %}

                                .content {{ post.content }}
                            | {% endfor %}

                    .fluid_12
            | {% endif %}


            | {% if page.images %}
            .woodgrain.page_images
                .fluid_container.c12.w1110.g30
                    .fluid_12
                    | {% for img in page.images %}
                    .fluid_4
                        img(src="{{site.baseurl}}/{{img}}", alt="")
                    | {% endfor %}
                    .fluid_12
            | {% endif %}
        include includes/footer.pug