doctype html
html(lang='en', class='no-js')
    head(prefix='og: http://ogp.me/ns#')
        include includes/head.pug
    body
        include includes/header.pug


        | {% if page.permalink == '/' %}
        | {% include banner2.html %}
        | {% endif %}

        section(class='{{page.class}}', role='main')

            | {% if page.permalink == '/' %}
            | {% include homepage.html %}
            | {% endif %}
            .fluid_container.c12.w1110.g30
                .fluid_12
                    block content

            | {% if page.permalink == '/what-we-make/' %}
            | {% include menu.html %}
            | {% endif %}

        include includes/footer.pug