include includes/header.pug

section(class='{{page.class}}', role='main')

    .fluid_container.c12.w1110.g30
        .fluid_12
            .generic_banner(style='background-image: url(\'{{site.baseurl}}assets/images/banners/{{page.static_banner | default: \'default\'}}.jpg\');')
                h2(class='{{page.colour}}') {{page.title}}

    
    .woodgrain
        .fluid_container.c12.w1110.g30
            .fluid_12
            .fluid_12
                .posts

                    | {% for post in site.posts %}

                    .post
                        a(href="{{post.url}}")


                            | {% if post.image %}
                            img(src="{{site.baseurl}}assets/images/news/{{ post.image }}")
                            | {% endif %}

                            h3 {{ post.title }}

                            | {% if post.date %}
                            .meta {{ post.date | date: "%-d %B %Y" }}
                            | {% endif %}

                            .content {{ post.content }}
                    | {% endfor %}

            .fluid_12

include includes/footer.pug
