doctype html
html(lang='en', class='no-js')
    head(prefix='og: http://ogp.me/ns#')
        include includes/head.pug
    body
        include includes/header.pug


        section(class='{{page.class}} static_images', role='main')

            .fluid_container.c12.w1110.g30
                .fluid_12
                    .generic_banner(style='background-image: url(\'{{site.baseurl}}/assets/images/banners/{{page.static_banner | default: \'default\'}}.jpg\');')
                        h2(class='{{page.colour}}') {{page.title}}

            | {{content}}

            .fluid_container.c12.w1110.g30
                .fluid_12 
                    | &nbsp;
            | {% if page.images %}
            .woodgrain.page_images
                .fluid_container.c12.w1110.g30
                    .fluid_12
                    | {% for img in page.images %}
                    .fluid_4
                        img(src="{{site.baseurl}}/{{img}}", alt="")
                    | {% endfor %}
                    .fluid_12
            | {% endif %}
        include includes/footer.pug